{% comment %}
  Judge.me Core Snippet
  Required for product reviews to display correctly.
{% endcomment %}

<!-- Judge.me Core -->
<script type="text/javascript" src="https://cdn.judge.me/widget_preloader.js"></script>
<div id="judgeme_core" style="display:none;"></div>